.topic {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -50px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.button {
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    padding: 15px 35px;
    text-align: center;
    margin-bottom: 10px;

}

.imageStyle {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 100px;
    margin-top: -50px;
}

.imageStyle img {
    width: 316px;
    height: 288px;
    border-radius: 15px;
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.imageContainer img {
    width: 400px;
    height: 480px;
    padding-top: 65px;
    padding-right: 450px;
    margin-right: 100px;
    border-radius: 16px;


}

h3 {
    flex:1;
    font-size: 56px;
    font-weight: 400;
    padding: 50px 100px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -5px;
    margin-top: -25px ;
   
    text-align: left; 
    align-items: left;
}

.p1 {
    flex:1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 100px;
    font-size: 26px;
    line-height: 39px;
    margin-top: -190px;
}

.button-container1 {
    padding: 10px 100px;
    display: flex;
    justify-content: left;
    align-items: left;
}

button {
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 25px;
    padding: 15px 35px;
    text-align: center;
    margin-bottom: 60px;
}

.imageRight{
    margin-left: 978px;
    margin-top: -497px;
}

.imageRight img{
    width: 408px;
    height: 480px;
    border-radius: 20px;
}

.imageCard {
    margin-top: 80px;
    margin-left: 100px;
   
}

.imageCard img{
    width:412px;
    height:379.16px;
    border-radius: 16px;
}

    

.imageCardNum{
    font-family: Avenir;
    font-weight: 400;
    font-size: 40px;
    line-height: 54.64px;
    *color: #252525;
    opacity: 0.25;
}
